In [1]:
import json
import pandas as pd

with open('../../data/newsdataio/sentiment-analysis-output.json') as f:
    data = json.load(f)

In [2]:
df = pd.DataFrame(data)

In [3]:
df = df[df['country'].apply(len) == 1]
df = df.reset_index(drop=True)

In [4]:
len(df)

143

In [5]:
df = df.drop(columns=['ai_tag', 'ai_region', 'ai_org', 'content', 'image_url', 'source_icon', 'video_url', 'country', 'language', 'sentiment_stats', 'source_id', 'source_url', 'creator', 'article_id', 'pubDateTZ', 'duplicate'])
articles = df.to_dict('records')

In [6]:
len(articles)

143

In [7]:
# find the frequency of articles from category
df.category.value_counts()

category
[top]                          102
[sports]                        13
[business]                       8
[entertainment]                  7
[world]                          4
[technology]                     3
[other]                          1
[education]                      1
[politics]                       1
[health]                         1
[technology, entertainment]      1
[food]                           1
Name: count, dtype: int64

In [8]:
df.sentiment.value_counts()

sentiment
neutral                                               72
ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS    38
negative                                              19
positive                                              14
Name: count, dtype: int64

In [11]:
# give the names of sources
df.source_name.value_counts()

source_name
Latestly                  23
The Times Of India        15
The Hindu                 11
Business Standard         10
Google News                8
Star Of Mysore             7
Theprint                   6
Hindustan Times            5
Newsbytes                  5
The Free Press Journal     5
Telangana Today            4
Mint                       3
Daily Excelsior            3
Asianet Newsable           3
Ndtv                       3
News 18                    3
The Economic Times         2
In Ign                     2
Siasat.com                 2
The Munsif Daily           2
Sport Star The Hindu       2
Abp News                   1
India                      1
Business Insider India     1
Mathrubhumi English        1
Outlook                    1
Frontline Thehindu         1
Tng News                   1
The Sentinel               1
The Hans India             1
News9live                  1
Gsm Arena                  1
Onmanorama                 1
Organiser Weekly           1
Dna                        1
News Blare                 1
Espncricinfo               1
Thehealthsite              1
Odisha Tv                  1
The New Indian Express     1
Name: count, dtype: int64

In [13]:
# Give the unique source names sorted by the source_priority column values in descending order
df[['source_name', 'source_priority']].drop_duplicates().sort_values(by='source_priority', ascending=True)

                source_name  source_priority
46              Google News               14
52                   In Ign              149
9        The Economic Times              231
5        The Times Of India              391
33          Hindustan Times              933
43                  Outlook             1033
111            Espncricinfo             1162
31                     Ndtv             1204
50                Gsm Arena             1423
27       Frontline Thehindu             1539
0                 The Hindu             2972
37     Sport Star The Hindu             2972
25   Business Insider India             6525
38                  News 18             6644
1                      Mint             7134
6          Asianet Newsable             7749
26                    India             8067
2         Business Standard             9158
4                  Abp News            10959
115           Thehealthsite            13386
7                  Theprint            14094
127  The New Indian Express            15406
69               Onmanorama            16247
79                      Dna            18388
45      Mathrubhumi English            29098
58               Siasat.com            30879
3                  Latestly            31923
22           The Hans India            58957
124               Odisha Tv            62016
13          Telangana Today            63887
19   The Free Press Journal            83130
20             The Sentinel           177615
65                News9live           193096
68         Organiser Weekly           216805
98                Newsbytes           309848
16                 Tng News           321007
75           Star Of Mysore           409045
67          Daily Excelsior           693953
78               News Blare          1026586
82         The Munsif Daily          1196600

In [16]:
with open('../../data/newsdataio/articles-cleaned.json', 'r') as f:
    data = json.load(f)

data = pd.DataFrame(data)
# find the value of description for the link col value below
# https://www.freepressjournal.in/sports/delhi-capitals-x-account-gets-hacked-netizens-react-to-weird-post-before-getting-deleted

data[data['link'] == 'https://www.freepressjournal.in/sports/delhi-capitals-x-account-gets-hacked-netizens-react-to-weird-post-before-getting-deleted']['description']

13    None
Name: description, dtype: object

In [17]:
# how can i remove values where the description is null
data = data.dropna(subset=['description'])

In [18]:
data[data['link'] == 'https://www.freepressjournal.in/sports/delhi-capitals-x-account-gets-hacked-netizens-react-to-weird-post-before-getting-deleted']['description']

Series([], Name: description, dtype: object)